/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Generics */
  body {
    font-family: sans-serif;
  }
  
  /* Utils */
  .container {
    max-width: 1100px;
    margin: 100px auto;
    background-color: red;
    border-radius: 10px;
    position: relative;
  }

  /* Carousel */
  #carousel {
    height: 380px;
    width: 100%;
    margin: 0;
    display: flex;
  }

  .gallery {
    height: 100%;
    width: 900px;
  }

  .gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: none;
  }

  .gallery img.active {
    display: block;
  }

  .thumbnails {
    width: 200px;
    position: relative;
  }

  /* Buttons */
  .thumbnails .fa-sharp {
    position: absolute;
    transform: translateX(50%);
    cursor: pointer;
  }

  .fa-arrow-up {
    top: 4%;
    right: 50%;
  }

  .fa-arrow-down {
    bottom: 4%;
    right: 50%;
  }

  .thumbnails .fa-sharp:hover {
    color: white;
  }

